src/main/resources/wsdl/authorizationList.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:xroad="http://x-road.eu/xsd/xroad.xsd"
                  xmlns:ns="http://x-road.eu/xsd/identifiers" xmlns:items="http://xml.vrk.fi/ws/Rova/AuthorizationList/Entities"
                  xmlns:request="http://xml.vrk.fi/ws/Rova/AuthorizationList/Request"
                  xmlns:response="http://xml.vrk.fi/ws/Rova/AuthorizationList/Response"
                  xmlns:tns="http://xml.vrk.fi/ws/Rova/AuthorizationList" name="RovaAuthorizationList"
                  targetNamespace="http://xml.vrk.fi/ws/Rova/AuthorizationList">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://x-road.eu/xsd/xroad.xsd"
                        schemaLocation="xroad6.xsd" />
        </xsd:schema>
        <xsd:schema xmlns:tns="http://xml.vrk.fi/ws/Rova/AuthorizationList/Entities"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.vrk.fi/ws/Rova/AuthorizationList/Entities">
            <xsd:complexType name="Request">
                <xsd:sequence>
                    <xsd:element name="delegateIdentifier">
                        <xsd:annotation>
                            <xsd:documentation>
                                Unique identifier of delegate.
                                For example personal id number or business id.
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string" />
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="principalIdentifier">
                        <xsd:annotation>
                            <xsd:documentation>
                                Unique identifier of principal.
                                For example personal id number or business id.
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string" />
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
			
            <xsd:complexType name="DecisionReasonType">
                <xsd:sequence>
                    <xsd:element name="rule" type="xsd:string" />
                    <xsd:element name="value" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="RoleList">
                <xsd:sequence>
                    <xsd:element name="role" maxOccurs="unbounded"
                                 minOccurs="0" nillable="true" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="RovaAuthorizationListResponse">
                <xsd:sequence>
                    <xsd:element name="roles" type="items:RoleList" />
                    <xsd:element name="reason" maxOccurs="unbounded" minOccurs="0" nillable="true" type="tns:DecisionReasonType" />
                    <xsd:element name="exceptionMessage" maxOccurs="1"
                                 minOccurs="0" nillable="true" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="rovaAuthorizationListService">
                <xsd:complexType id="Request">
                    <xsd:sequence>
                        <xsd:element name="request" type="items:Request" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="rovaAuthorizationListServiceResponse">
                <xsd:complexType id="Response">
                    <xsd:sequence>
                        <xsd:element name="request" type="items:Request" />
                        <xsd:element name="response" type="items:RovaAuthorizationListResponse" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestheader">
        <wsdl:part name="client" element="xroad:client" />
        <wsdl:part name="service" element="xroad:service" />
        <wsdl:part name="userId" element="xroad:userId" />
        <wsdl:part name="id" element="xroad:id" />
        <wsdl:part name="async" element="xroad:async" />
    </wsdl:message>
    <wsdl:message name="rovaAuthorizationListService">
        <wsdl:part name="Request" element="items:rovaAuthorizationListService" />
    </wsdl:message>
    <wsdl:message name="rovaAuthorizationListServiceResponse">
        <wsdl:part name="Response" element="items:rovaAuthorizationListServiceResponse" />
    </wsdl:message>
    <wsdl:portType name="rovaAuthorizationListPortType">
        <wsdl:operation name="rovaAuthorizationListService">
            <wsdl:input name="rovaAuthorizatioListnService" message="tns:rovaAuthorizationListService" />
            <wsdl:output name="rovaAuthorizationListServiceResponse"
                         message="tns:rovaAuthorizationListServiceResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="rovaAuthorizationListBinding" type="tns:rovaAuthorizationListPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="rovaAuthorizationListService">
            <soap:operation soapAction="" />
            <ns:version>v1</ns:version>
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header message="tns:requestheader" part="client"
                             use="literal" />
                <soap:header message="tns:requestheader" part="service"
                             use="literal" />
                <soap:header message="tns:requestheader" part="userId"
                             use="literal" />
                <soap:header message="tns:requestheader" part="id" use="literal" />
                <soap:header message="tns:requestheader" part="async"
                             use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header message="tns:requestheader" part="client"
                             use="literal" />
                <soap:header message="tns:requestheader" part="service"
                             use="literal" />
                <soap:header message="tns:requestheader" part="userId"
                             use="literal" />
                <soap:header message="tns:requestheader" part="id" use="literal" />
                <soap:header message="tns:requestheader" part="async"
                             use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Rova_AuthorizationList_Service">
        <wsdl:documentation>WSDL-file for RoVa Authorization service
        </wsdl:documentation>
        <wsdl:port name="rovaAuthorizationListPort" binding="tns:rovaAuthorizationListBinding">
            <soap:address location="http://localhost:8000/rova/authorizationList" />
        </wsdl:port>
    </wsdl:service>
    <!-- Schema for identifiers (reduced) -->
</wsdl:definitions>
