src/main/resources/wsdl/orgroles.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:xroad="http://x-road.eu/xsd/xroad.xsd"
                  xmlns:ns="http://x-road.eu/xsd/identifiers" xmlns:items="http://xml.vrk.fi/ws/Rova/OrgRoles/Entities"
                  xmlns:request="http://xml.vrk.fi/ws/Rova/OrgRoles/Request"
                  xmlns:response="http://xml.vrk.fi/ws/Rova/OrgRoles/Response" xmlns:tns="http://xml.vrk.fi/ws/Rova/OrgRoles"
                  name="RovaOrgRoles" targetNamespace="http://xml.vrk.fi/ws/Rova/OrgRoles">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://x-road.eu/xsd/xroad.xsd"
                        schemaLocation="xroad6.xsd" />
        </xsd:schema>
        <xsd:schema xmlns:tns="http://xml.vrk.fi/ws/Rova/OrgRoles/Entities"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.vrk.fi/ws/Rova/OrgRoles/Entities">
                       
            <xsd:complexType name="Request">
                <xsd:sequence>
                    <xsd:element name="delegateIdentifier" minOccurs="1" maxOccurs="1">
                        <xsd:annotation>
                            <xsd:documentation>
                                Mandatory. Unique identifier of representative person.
                                For example hetu.
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string" />
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="organizationIdentifier" maxOccurs="unbounded"
                                 minOccurs="0" nillable="true">
                          <xsd:annotation>
                            <xsd:documentation>
                                Optional. List of unique identifiers for target organizations.
                                For example Y-tunnus.
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string" />
                        </xsd:simpleType>       
                    </xsd:element>             
                </xsd:sequence>

            </xsd:complexType>
            
             <xsd:complexType name="RoleList">
                <xsd:sequence>
                    <xsd:element name="role" maxOccurs="unbounded"
                                 minOccurs="0" nillable="true" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
                       
            <xsd:complexType name="OrganizationalRolesType">
                <xsd:sequence>
                    <xsd:element name="organizationIdentifier" type="xsd:string" />
                    <xsd:element name="name" nillable="true" type="xsd:string" />
                    <xsd:element name="roles" nillable="true" type="tns:RoleList" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="OrganizationListType">
                <xsd:sequence>
                    <xsd:element name="organization" maxOccurs="unbounded"
                                 minOccurs="0" nillable="true" type="tns:OrganizationalRolesType" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="Response">
                <xsd:sequence>
                    <xsd:element name="organizationList" type="items:OrganizationListType" />
                    <xsd:element name="exceptionMessage" maxOccurs="1"
                                 minOccurs="0" nillable="true" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="rovaOrganizationalRolesService">
                <xsd:complexType id="Request">
                    <xsd:sequence>
                        <xsd:element name="request" type="items:Request" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="rovaOrganizationalRolesServiceResponse">
                <xsd:complexType id="Response">
                    <xsd:sequence>
                        <xsd:element name="request" type="items:Request" />
                        <xsd:element name="response" type="items:Response" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestheader">
        <wsdl:part name="client" element="xroad:client" />
        <wsdl:part name="service" element="xroad:service" />
        <wsdl:part name="userId" element="xroad:userId" />
        <wsdl:part name="id" element="xroad:id" />
        <wsdl:part name="async" element="xroad:async" />
    </wsdl:message>
    <wsdl:message name="rovaOrganizationalRolesService">
        <wsdl:part name="Request" element="items:rovaOrganizationalRolesService" />
    </wsdl:message>
    <wsdl:message name="rovaOrganizationalRolesServiceResponse">
        <wsdl:part name="Response" element="items:rovaOrganizationalRolesServiceResponse" />
    </wsdl:message>
    <wsdl:portType name="rovaOrganizationalRolesPortType">
        <wsdl:operation name="rovaOrganizationalRolesService">
            <wsdl:input name="rovaOrganizationalRolesService" message="tns:rovaOrganizationalRolesService" />
            <wsdl:output name="rovaOrganizatonalRolesServiceResponse" message="tns:rovaOrganizationalRolesServiceResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="rovaOrganizationalRolesBinding" type="tns:rovaOrganizationalRolesPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="rovaOrganizationalRolesService">
            <soap:operation soapAction="" />
            <ns:version>v1</ns:version>
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header message="tns:requestheader" part="client"
                             use="literal" />
                <soap:header message="tns:requestheader" part="service"
                             use="literal" />
                <soap:header message="tns:requestheader" part="userId"
                             use="literal" />
                <soap:header message="tns:requestheader" part="id" use="literal" />
                <soap:header message="tns:requestheader" part="async"
                             use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
                <soap:header message="tns:requestheader" part="client"
                             use="literal" />
                <soap:header message="tns:requestheader" part="service"
                             use="literal" />
                <soap:header message="tns:requestheader" part="userId"
                             use="literal" />
                <soap:header message="tns:requestheader" part="id" use="literal" />
                <soap:header message="tns:requestheader" part="async"
                             use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Rova_OrganizationalRoles_Service">
        <wsdl:documentation>WSDL-file for RoVa Organizational roles service
        </wsdl:documentation>
        <wsdl:port name="rovaOrganizationalRolesPort" binding="tns:rovaOrganizationalRolesBinding">
            <soap:address location="http://localhost:8000/rova/OrganizationalRoles" />
        </wsdl:port>
    </wsdl:service>
    <!-- Schema for identifiers (reduced) -->
</wsdl:definitions>
